@import './variable';
@import './breakpoint';
@import './base';
@import './utility';

.bg {
  width: 100%;
  height: 180px;
  background-image: url(../image/footer-background.svg);
  background-color: $third;
  background-size: 70px;
  background-repeat: repeat;
  background-position: center;
  position: fixed;
  bottom: 0;
  z-index: -1;
  @include breakpoint-sm {
    position: unset;
    height: 120px;
    position: relative;
  }
  & > .footer-btn {
    width: 89px;
    height: 40px;
    font-family: NotoSansCJKtc-Medium;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1.46px;
    background-color: $dark;
    position: absolute;
    bottom: 50px;
    left: 30px;
  }
}

.l-hideOrder {
  width: 32px;
  background: $light;
  margin-top: 120px;
  border-radius: 10px 0 0 10px;
  height: 281px;
  position: relative;
  @include breakpoint-sm {
    display: none;
  }
  &-finish {
    position: absolute;
    right: 60px;
    top: 65px;
    &-text {
      font-family: NotoSansCJKtc-Medium;
      font-size: 20px;
      color: #000000;
      letter-spacing: 2.09px;
      text-align: center;
      margin-top: 17px;
      margin-bottom: 23px;
    }
    &-topLine {
      height: 2px;
      background-color: #000;
      width: 11px;
      transform: rotateZ(45deg) scale(1.414);
      float: right;
    }
    &-bottomLine {
      height: 2px;
      background-color: #000;
      width: 11px;
      transform: rotateZ(135deg) scale(1.414);
      float: right;
    }
  }
}

.l-order {
  width: 234px;
  background: $light;
  border-radius: 10px 0 0 10px;
  padding: 24px 26px 11px;
  margin-bottom: 24px;
  margin-top: 120px;
  &-sm {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 999;
    &-btn {
      padding: 15px 12px;
      float: right;
      background-color: $light;
      width: min-content;
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      box-shadow: 3px 3px 5px #ccc;
      z-index: 999;
      margin-left: -2px;
    }
  }
  &-title {
    font-family: NotoSansCJKtc-Medium;
    font-size: 18px;
    letter-spacing: 1.88px;
    margin-bottom: 14px;
  }
  &-detail {
    @include breakpoint-sm {
      background-color: $light;
      border-radius: 0 0 10% 0;
      width: max-content;
      padding: 15px;
      box-shadow: -13px 5px 13px 0px #ccc;
      float: left;
    }
    &-key {
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 16px;
      color: #5e5e5e;
      letter-spacing: 1.67px;
      line-height: 24px;
    }
    &-value {
      margin-bottom: 18px;
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 16px;
      letter-spacing: 1.67px;
      line-height: 24px;
    }
  }
  &-btn {
    width: 89px;
    height: 40px;
    font-family: NotoSansCJKtc-Medium;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1.46px;
    background-color: $dark;
    @include breakpoint-sm {
      display: none;
    }
  }
}

.payment {
  width: 628px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0 10px 0 0;
  margin-top: 120px;
  @include breakpoint-lg {
    width: 500px;
  }
  @include breakpoint-md {
    width: 400px;
  }
  @include breakpoint-sm {
    width: 100%;
    box-shadow: 0px 2px 15px #ccc;
    border-radius: 0;
  }
  &-title {
    margin-top: 38px;
    font-family: NotoSansCJKtc-Medium;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2.09px;
    text-align: center;
    position: relative;
    z-index: 1;
    &-bg {
      background: #b5ffe4;
      position: absolute;
      width: 237px;
      height: 17px;
      z-index: -1;
      left: calc(50% - 119px);
      top: 16px;
    }
  }
  &-subtitle {
    font-family: NotoSansCJKtc-Medium;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.25px;
    display: block;
    margin-top: 7px;
    text-align: center;
    @include breakpoint-sm {
      display: none;
    }
  }
  &-btnGroup {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint-lg {
      margin-top: 44px;
    }
    &-item {
      border-radius: 5px;
      background: #f7f7f7;
      width: 161px;
      height: 139px;
      position: relative;
      margin: 0 7.5px 22px;
      cursor: pointer;
      &-active {
        background: $primary;
        color: #fff;
        cursor: pointer;
        & img {
          filter: brightness(0) invert(1);
        }
      }
      &-title {
        position: absolute;
        bottom: 24px;
        left: 0;
        display: block;
        width: 100%;
        font-family: 'Noto Sans CJK';
        font-size: 14px;
        letter-spacing: 1.46px;
        text-align: center;
      }
    }
  }
  &-finish {
    padding: 65px 55px 0 82px;
    @include breakpoint-sm {
      padding: 44px 32px;
    }
    &-shop {
      margin-bottom: 32px;
      &-title {
        font-family: NotoSansCJKtc-DemiLight;
        font-size: 14px;
        color: #000000;
        letter-spacing: 1.46px;
        margin-bottom: 3px;
      }
      &-value {
        font-family: NotoSansCJKtc-DemiLight;
        font-size: 24px;
        color: #000000;
        letter-spacing: 2.51px;
      }
      &-footer {
        font-family: NotoSansCJKtc-DemiLight;
        font-size: 14px;
        color: #000000;
        letter-spacing: 1.46px;
        line-height: 25px;
        margin-top: 7px;
        margin-bottom: 66px;
      }
    }
  }
  &-finishImg {
    text-align: center;
    @include breakpoint-sm {
      padding-bottom: 66px;
    }
    &-bg {
      width: 146px;
      height: 146px;
      border-radius: 50%;
      margin: 88px auto 68px;
      background-color: #b5ffe4;
    }
    &-text {
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 14px;
      color: #000000;
      letter-spacing: 1.46px;
      line-height: 25px;
      margin-bottom: 30px;
      display: block;
      @include breakpoint-sm {
        padding-bottom: 44px;
      }
    }
  }
}

.form {
  padding: 23px 66px 0;
  line-height: 20px;
  @include breakpoint-sm {
    padding: 44px 32px;
  }
  & img {
    height: 25px;
    @include breakpoint-sm {
      display: none;
    }
  }
  & .custom-control {
    padding-left: 10px;
  }
  &-nextStepBtn {
    margin-top: 22px;
    margin-right: 61px;
    margin-bottom: 38px;
    background-color: $primary;
    font-family: NotoSansCJKtc-Medium;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1.46px;
    width: 89px;
    height: 40px;
  }
  &-btnGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 38px;
  }
  &-cardNum {
    margin-top: 19px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & > .custom-control {
      text-align: center;
      max-width: 61px;
      border: 1px solid #979797;
      border-radius: 5px;
      margin: 0 9px;
      padding: 0.5em;
      @include breakpoint-sm {
        margin: 0 7px;
        max-width: 55px;
      }
    }
  }
  &-cardType {
    margin-left: 20px;
    display: flex;
    width: 107px;
    &-active {
      filter: invert(0%) sepia(5%) saturate(2522%) hue-rotate(113deg)
        brightness(82%) contrast(93%);
    }
  }
  &-cardExpiryDate {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    & > .custom-control {
      margin: 0 12px;
      width: 93px;
      text-align-last: right;
      padding-right: 30px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-image: url(../image/down-arrow.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 90%;
      color: #979797;
    }
  }
  &-cardKey {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > .custom-control {
      width: 93px;
      margin-right: 12px;
    }
  }
  &-email {
    > .custom-control {
      width: 235px;
    }
  }
  &-mycheck {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    &-mb {
      margin-bottom: 28px;
    }
    &-input {
      height: 15px;
      width: 15px;
      margin-left: -25px;
    }
    &-label {
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 14px;
      color: #000000;
      letter-spacing: 1.46px;
      line-height: 25px;
      max-width: 470px;
    }
    &-link {
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 14px;
      color: #969696;
      letter-spacing: 1.46px;
      margin-top: 5px;
    }
  }
  &-shop {
    & > .custom-control {
      margin: 0 12px;
      width: 235px;
      padding-right: 30px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-image: url(../image/down-arrow.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 210px;
      color: #979797;
    }
  }
  & .shop {
    &-margin {
      margin-bottom: 30px;
    }
    &-mycheck-mb {
      margin-bottom: 46px;
    }
  }
  &-atm {
    padding: 40px 90px 0 68px;
    @include breakpoint-sm {
      padding: 44px 32px;
    }
    &-desc {
      padding: 0;
      margin: 24px 0;
      list-style: none;
      & > li {
        font-family: NotoSansCJKtc-DemiLight;
        font-size: 14px;
        color: #000000;
        letter-spacing: 1.46px;
        line-height: 25px;
        margin-bottom: 10px;
      }
    }
    &-bank > .custom-control {
      margin: 0 12px;
      width: 235px;
      padding-right: 30px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-image: url(../image/down-arrow.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 210px;
      color: #979797;
    }
  }
  & .atm {
    &-margin {
      margin-bottom: 30px;
    }
    &-mycheck-mb {
      margin-bottom: 30px;
    }
  }
}
